<!DOCTYPE html>
<html>
<head>
<title>Product</title>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css" integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- DateTimePicker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.handle {
    cursor: grab;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.note-editor .note-frame .note-editing-area .note-editable {
    color: #000000 !important;
}
.note-editable > p {
    color: #000000 !important;
    text-align: left;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Management System</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Main Page</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Product Board</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Product Manage</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue">  Add Product</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  User Accounts Manage</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Add Administrator</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Administrator Manage</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
<form th:action="@{/admin/product/save}" method="post" enctype="multipart/form-data" th:object="${product}">
    <input type="hidden" th:field="*{no}"/>
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Product</b></h5>
  </header>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h3>Item</h3>
        <div style="width: 205px; height: 250px;">
            <img th:if="${product.image != null}" th:src="@{/upload/thumb/{image}(image=${product.image})}"  style="width: 100%; height: 100%;"/><br/>
            <h5 th:text="'등록 날짜 : ' + (${product.regdate} != null ? ${#temporals.format(product.regdate, 'yyyy-MM-dd')} : '아직 등록되지 않음')"></h5>
        </div>
      </div>
      <div class="w3-twothird">
        <h3>Image</h3>
        <div style="width: 205px; height: 250px; border: 1px dotted black;">
            <img id="preview_img" style="width: 100%; height: 100%;"/>
        </div>
        <h3>Product Name</h3>
        <input type="text" class="w3-input" style="width: 80%;" th:field="*{name}"/>
        <h3>Product description</h3>
        <input type="text" class="w3-input"  style="width: 80%;" th:field="*{description}"  maxlength='150' placeholder="최대 150자까지 입력 가능(영어 기준)"/>
          <h3>Price</h3>
          <input type="number" class="w3-input"  style="width: 80%;" th:field="*{price}"/>
        <h3>Product Profile Image</h3>
        <div class="filebox">
            <input class="upload-name" value="Attach File" placeholder="Attach File" readonly/>
            <label for="file">Input File</label> 
            <input type="file" id="file" name="imageFile" accept="image/*">
        </div>
        <h3>Choose Board</h3>
        <select class="w3-select" th:field="*{category}">
            <option th:each="board, iterStat : ${boardList}"
                    th:value="${board.id}"
                    th:text="${board.name}"
                    th:selected="${iterStat.first}">
            </option>
        </select>
            <h3>Option</h3>
            <p>
            <input class="w3-check" type="checkbox" checked="checked" th:field="*{hot}"/>
            <label>HOT</label></p>
            <p>
            <input class="w3-check" type="checkbox" th:field="*{soldout}"/>
            <label>SOLD OUT</label>
            </p>
            <p>
              <input class="w3-check" type="checkbox" th:field="*{sale}"/>
              <label>Sale Price</label>
                <input type="number" class="w3-input" placeholder="Enter Sale Price" th:field="*{saleprice}"/>
            </p>
            <p>
                <label>End Sale Day</label>
                <input type="datetime-local" class="w3-input" id="endsaledate" th:field="*{endsaledate}"/>
            </p>
      </div>
    </div>
  </div>
  <hr style="border: 5px solid #ddd; border-radius: 5px;">
  <div class="w3-container w3-margin-bottom">
    <div class="w3-row">
      <div class="w3-col m1 w3-center">&nbsp;</div>
      <div class="w3-col m10 w3-center"><h3>Edit Product Contents</h3></div>
      <div class="w3-col m1 w3-center">&nbsp;</div>
    </div>
    <div class="w3-row">
        <div class="w3-col m1 w3-center">&nbsp;</div>
        <div class="w3-col m10 w3-center">
            <textarea id="summernote" th:field="*{content}" ></textarea>

        </div>
        <div class="w3-col m1 w3-center">&nbsp;</div>
      </div>
  </div>
  <!-- End page content -->
    <button id="btn_submit" class="w3-button w3-hover-white w3-black" style="width: 100%;">Submit</button>
    </form>
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

$("#file").on('change',function(){
  var fileName = $("#file").val();
  $(".upload-name").val(fileName);
  var file = event.target.files[0];
  var reader = new FileReader(); 
    reader.onload = function(e) {

        $("#preview_img").attr("src", e.target.result);
    }
    reader.readAsDataURL(file);
});


$(document).ready(function () {
    $("#btn_submit").click(function(event) {
        if (parseInt($("#price").val()) <= parseInt($("#saleprice").val())) {
            alert("할인가격은 기본가격보다 낮아야 합니다.");
            event.preventDefault();
            return;
        }
    });


    let dateSelector = document.querySelector('#endsaledate');
    dateSelector.flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d\\TH:i:S",
        onChange: function (selectedDates, dateStr, instance) {
            $("#endsaledate").attr("value", dateStr);
        }
    });


    let csrfToken = $("meta[name='_csrf']").attr("content");
    let csrfHeader = $("meta[name='_csrf_header']").attr("content");

    $('#summernote').summernote({
        placeholder: 'Enter Product Contents...',
        height: 300,
        tabsize: 2,
        callbacks: {
            onImageUpload: function (files) {
                for (let i = 0; i < files.length; i++) {
                    sendFile(files[i]);
                }
            },
            onMediaDelete: function(target) {
                const imageUrl = target[0].src;

                $.ajax({
                    url: '/admin/product/delete/summernote',
                    type: 'POST',
                    data: { imageUrl: imageUrl },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken); //CSRF 헤더 포함
                    },
                    success: function(response) {
                        console.log('삭제 성공:', response);
                    },
                    error: function(err) {
                        console.error('삭제 실패:', err);
                    }
                });
            }
        }
    });

    function sendFile(file) {
        let data = new FormData();
        data.append("file", file);

        $.ajax({
            url: '/admin/product/upload/summernote',
            type: 'POST',
            data: data,
            contentType: false,
            processData: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken); // ★ CSRF 헤더 포함
            },
            success: function (response) {
                $('#summernote').summernote('insertImage', response.url);
            },
            error: function (e) {
                alert("이미지 업로드 실패: " + e.statusText);
            }
        });
    }
});

</script>

</body>
</html>
