<!DOCTYPE html>
<html>
<head>
<title>Admin Account List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../images/adminfavicon.ico">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css" integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.linkbtn {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.linkbtn {background-color: #008CBA;}

.note-editor .note-frame .note-editing-area .note-editable {
    color: #000000 !important;
}
.note-editable > p {
    color: #000000 !important;
    text-align: left;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Management System</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="./" class="w3-bar-item w3-button w3-padding">  Main Page</a>
    <a href="./banneredit" class="w3-bar-item w3-button w3-padding">  Banner Edit</a>
    <a href="./mainitems" class="w3-bar-item w3-button w3-padding">  MainItems Edit</a>
    <a href="./boardedit" class="w3-bar-item w3-button w3-padding">  Board Edit</a>
    <a href="./products" class="w3-bar-item w3-button w3-padding">  Product Manage</a>
    <a href="./order" class="w3-bar-item w3-button w3-padding">  Order Manage</a>
    <a href="./usermanagement" class="w3-bar-item w3-button w3-padding">  User Accounts Manage</a>
    <a href="./adminmanagement" class="w3-bar-item w3-button w3-padding w3-blue">  Administrator Manage</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Admin List</b></h5>
  </header>

  <div class="w3-container">
    <div class="w3-row">
      <form class="w3-row w3-margin-bottom" method="get" th:action="@{/bgf1bm51yww/adminmanagement}">
        <div class="w3-col s10">
          <input class="w3-input w3-border" type="text" name="search" th:value="${search}" placeholder="Search by ID">
        </div>
        <div class="w3-col s2">
          <button class="w3-button w3-blue w3-block" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="w3-row">
      <a href="../bgf1bm51yww/adminmanagement/add" target="_blank" class="linkbtn">Add Administrator</a>
    </div>

    <div class="w3-card-2 w3-padding-large w3-margin-bottom">
      <div class="w3-row">
        <div class="w3-third w3-container" th:each="admin : ${admins}">
          <div class="w3-card-4">
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-container">
                  <h3 th:text="${admin.adminid}">ID</h3>
                  <h5 th:text="'No: ' + ${admin.no}">No</h5>
                </div>
              </div>
              <div class="w3-row w3-center">
                <a th:href="@{'/bgf1bm51yww/adminmanagement/delete/' + ${admin.adminid}}"
                   class="w3-button w3-red"
                   onclick="return confirm('Are you sure you want to delete it?');">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div> <!-- /.w3-third -->
      </div> <!-- /.w3-row -->
    </div> <!-- /.w3-card-2 -->
  </div> <!-- /.w3-container -->


  <div class="w3-center w3-padding-small w3-margin-bottom" th:if="${not noResult}">
    <div class="w3-bar">
      <th:block th:if="${adminPage == 1}">
        <span class="w3-bar-item w3-button w3-disabled">&laquo;</span>
      </th:block>
      <th:block th:unless="${adminPage == 1}">
        <a th:href="@{/bgf1bm51yww/adminmanagement(page=1, search=${search})}" class="w3-bar-item w3-button">&laquo;</a>
      </th:block>

      <th:block th:if="${blockStart == 1}">
        <span class="w3-bar-item w3-button w3-disabled">&lt;</span>
      </th:block>
      <th:block th:unless="${blockStart == 1}">
        <a th:href="@{/bgf1bm51yww/adminmanagement(page=${prevBlockPage}, search=${search})}" class="w3-bar-item w3-button">&lt;</a>
      </th:block>

      <a th:each="i : ${#numbers.sequence(blockStart, blockEnd)}"
         th:href="@{/bgf1bm51yww/adminmanagement(page=${i}, search=${search})}"
         th:text="${i}"
         class="w3-bar-item w3-button"
         th:classappend="${i == adminPage} ? 'w3-black' : ''"></a>

      <th:block th:if="${blockEnd >= page.totalPages}">
        <span class="w3-bar-item w3-button w3-disabled">&gt;</span>
      </th:block>
      <th:block th:unless="${blockEnd >= page.totalPages}">
        <a th:href="@{/bgf1bm51yww/adminmanagement(page=${nextBlockPage}, search=${search})}" class="w3-bar-item w3-button">&gt;</a>
      </th:block>

      <th:block th:if="${adminPage == page.totalPages}">
        <span class="w3-bar-item w3-button w3-disabled">&raquo;</span>
      </th:block>
      <th:block th:unless="${adminPage == page.totalPages}">
        <a th:href="@{/bgf1bm51yww/adminmanagement(page=${page.totalPages}, search=${search})}" class="w3-bar-item w3-button">&raquo;</a>
      </th:block>
    </div>
  </div>

</div>

</div>
  <!-- End page content -->

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

</script>

</body>
</html>
