<!DOCTYPE html>
<html>
<head>
<title>Edit Banner</title>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css" integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="icon" href="../images/adminfavicon.ico">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.handle {
    cursor: grab;
}
.list-group {
    height: 300px;
    overflow: auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.boarditemfocus {
    background-color: #666666;
    color: white;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><a href="#" style="text-decoration: none;">Logout</a></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Management System</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="./" class="w3-bar-item w3-button w3-padding">  Main Page</a>
    <a href="./banneredit" class="w3-bar-item w3-button w3-padding w3-blue">  Banner Edit</a>
    <a href="./mainitems" class="w3-bar-item w3-button w3-padding">  MainItems Edit</a>
    <a href="./boardedit" class="w3-bar-item w3-button w3-padding">  Board Edit</a>
    <a href="./products" class="w3-bar-item w3-button w3-padding">  Product Manage</a>
    <a href="./order" class="w3-bar-item w3-button w3-padding">  Order Manage</a>
    <a href="./usermanagement" class="w3-bar-item w3-button w3-padding">  User Accounts Manage</a>
    <a href="./adminmanagement" class="w3-bar-item w3-button w3-padding">  Administrator Manage</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Banner</b></h5>
      <button class="w3-button w3-blue w3-hover-white btn_new">Add Banner</button>
  </header>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h3>Sorting Banner</h3>
          <div id="simpleList" class="list-group">
              <th:block th:each="banner : ${bannerList}">
                  <div class="list-group-item"
                       th:text="'Banner' + ${bannerStat.index + 1}"
                       th:attr="link=${banner.link},
                      bannerid=${banner.id},
                      bindex=${banner.bindex},
                      data-image=${banner.image},
                      data-active=${banner.getBactive() == true ? '1' : '0'}">
                  </div>
              </th:block>
          </div>
      </div>
      <div class="w3-twothird">
        <h3>Image</h3>
        <div style="width: 100%; height: 250px; border: 1px dotted black;">
            <img id="preview_img" style="width: 100%; height: 100%;"/>
        </div>
        <h3>Banner Image &#40;Recommend 2.5x1 ratio image&#41;</h3>
        <div class="filebox">
            <input class="upload-name" value="Attach File" placeholder="Attach File" readonly>
            <label for="file">파일찾기</label> 
            <input type="file" id="file" multiple accept="image/*" disabled>
        </div>
        <h3>Link</h3>
          <input type="text" class="w3-input" style="width: 80%;" id="link" disabled/>
          <span><input class="w3-check" type="checkbox" checked="checked" id="activebanner" disabled></span>
          <span>Banner Active(Show)</span>

          <div class="w3-row w3-center w3-margin-top">
              <button id="btn_delete" class="w3-button w3-red" disabled>Delete</button>
              <button id="btn_save" class="w3-button w3-green">Save</button>
          </div>

      </div>
    </div>
  </div>
  <!-- End page content -->
</div>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

function preview(input, id) {
    if(input.files && input.files[0]){
        var fr = new FileReader();
        fr.onload = function(e){
            $(id).attr("src", e.target.result);
        }
        fr.readAsDefaultDataURL(input.files[0]);
    }
}

$("#file").on('change',function(){
  var fileName = $("#file").val();
  $(".upload-name").val(fileName);
  var file = event.target.files[0];

    var reader = new FileReader(); 
    reader.onload = function(e) {

        $("#preview_img").attr("src", e.target.result);
    }

    reader.readAsDataURL(file);
});

var itemDataMap = {}; // key: bannerid 또는 temp_xxx
var selectedItem = null;

$(document).ready(function () {
  // 드래그 정렬 활성화
  Sortable.create(simpleList, {
    ghostClass: 'is-dragged',
    dragClass: 'drag-preview',
    animation: 400,
    scroll: true,
    forceFallback: true,
    scrollSensitivity: 50,
    scrollSpeed: 20,
  });

  // 렌더링된 아이템을 itemDataMap에 등록
  $('#simpleList .list-group-item').each(function () {
    const bannerid = $(this).attr('bannerid'); // DB의 고유 ID
    const link = $(this).attr('link');
    const image = $(this).attr('data-image');
    const active = $(this).attr('data-active') === '1'; // 1이면 활성, 0이면 비활성

    itemDataMap[bannerid] = {
      link: link,
      file: null,
      previewUrl: image ? `/upload/banner/${image}` : null,
      imageDataUrl: null,
      active: active,
      bannerid: bannerid
    };

    // DOM에도 data-id 등록
    $(this).attr("data-id", bannerid);
  });

  // 새 배너 추가
  $(document).on('click', '.btn_new', function () {
    const newId = 'temp_' + Date.now();
    const $item = $(`<div class="list-group-item" bannerid="${newId}">New Banner</div>`);
    $("#simpleList").append($item);

    itemDataMap[newId] = {
      link: "",
      file: null,
      previewUrl: null,
      imageDataUrl: null,
      active: false,
      bannerid: "#"
    };
  });

  //배너 아이템 삭제
  $('#btn_delete').on('click', function () {
    if (!selectedItem) {
      alert("First select the items you want to delete.");
      return;
    }

    if (confirm('Are you sure you want to delete the selected items?')) {
      const itemKey = selectedItem.attr("bannerid");
      selectedItem.remove(); // DOM에서 제거
      delete itemDataMap[itemKey]; // 메모리에서 제거
      selectedItem = null;

      // 초기화
      $('#link').val('');
      $('#activebanner').prop('checked', false);
      $('#preview_img').attr('src', '');
      $(".upload-name").val("Attach File");

      $('#link, #file, #activebanner, #btn_delete').prop('disabled', true);
    }

  });

  // 아이템 클릭 시 값 표시
  $(document).on('click', '.list-group-item', function () {
    $('#link').prop('disabled', false);
    $('#file').prop('disabled', false);
    $('#activebanner').prop('disabled', false);
    $('#btn_delete').prop('disabled', false);

    $('.list-group-item').removeClass('boarditemfocus');
    $(this).addClass('boarditemfocus');

    selectedItem = $(this);
    const itemKey = selectedItem.attr('bannerid');
    const itemData = itemDataMap[itemKey];
    if (!itemData) return;

    $('#link').val(itemData.link);

    $('#activebanner').prop('checked', itemData.active);

    if (itemData.imageDataUrl) {
      $("#preview_img").attr("src", itemData.imageDataUrl);
    } else if (itemData.previewUrl) {
      $("#preview_img").attr("src", itemData.previewUrl);
    } else {
      $("#preview_img").attr("src", "");
    }

    $(".upload-name").val(itemData.file ? itemData.file.name : "Attach File");
  });

  // 체크박스 상태 변경 시 itemDataMap 업데이트
  $('#activebanner').on('change', function() {
    if (!selectedItem) return;

    var itemKey = selectedItem.attr("bannerid");
    if (!itemDataMap[itemKey]) {
      console.error("There is no item data.");
      return;
    }

    itemDataMap[itemKey].active = $(this).is(":checked") ? 1 : 0; // active 값을 1 또는 0으로 업데이트
  });

  // 링크 수정 반영
  $('#link').on('input', function () {
    if (!selectedItem) return;
    const itemKey = selectedItem.attr("bannerid");
    itemDataMap[itemKey].link = $(this).val();
  });

  // 활성화 체크박스 수정 반영
  $('#activebanner').on('change', function () {
    if (!selectedItem) return;
    const itemKey = selectedItem.attr("bannerid");
    itemDataMap[itemKey].active = $(this).is(":checked");
  });

  // 파일 업로드 처리
  $("#file").on('change', function (event) {
    if (!selectedItem) {
      alert("Please select an item first..");
      return;
    }

    const file = event.target.files[0];
    if (!file) return;

    const itemKey = selectedItem.attr("bannerid");
    const reader = new FileReader();

    reader.onload = function (e) {
      itemDataMap[itemKey] = {
        ...itemDataMap[itemKey],
        file: file,
        imageDataUrl: e.target.result
      };

      $("#preview_img").attr("src", e.target.result);
      $(".upload-name").val(file.name);
    };

    reader.readAsDataURL(file);
  });

  // 저장 버튼 클릭 시 서버 전송
  $('#btn_save').on('click', function () {
    const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
    const formData = new FormData();

    let index = 0;
    $('#simpleList .list-group-item').each(function () {
      const itemKey = $(this).attr("bannerid");
      const data = itemDataMap[itemKey];
      if (!data) return;

      formData.append(`items[${index}][link]`, data.link);
      formData.append(`items[${index}][active]`, data.active ? '1' : '0');
      formData.append(`items[${index}][bannerid]`, data.bannerid);
      formData.append(`items[${index}][bindex]`, index);

      if (data.file) {
        formData.append(`items[${index}][file]`, data.file);
      }

      index++;
    });

    fetch('/bgf1bm51yww/saveBanner', {
      method: 'POST',
      headers: {
        [header]: token
        },
        body: formData
      })
            .then(res => {
              if (res.ok) {
                alert("The banner has been successfully modified.");
                location.reload(true);
              } else {
                alert("Failed to edit banner.");
                location.reload(true);
              }
            })
            .catch(err => {
              console.error(err);
              alert("An error occurred.");
              location.reload(true);
            });
  });
});


</script>

</body>
</html>
