<!DOCTYPE html>
<html>
<head>
<title>Edit Board</title>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css" integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="icon" href="../images/adminfavicon.ico">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.listContainer { transform: rotate(0); }
.drag-preview {
    display: none !important;
}

.list-group {
    height: 300px;
    overflow: auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.boarditemfocus {
    background-color: #666666;
    color: white;
}
</style>
</head>
<body class="w3-light-grey">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right"><a href="./logout" style="text-decoration: none;">Logout</a></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Management System</h5>
  </div>
  <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="./" class="w3-bar-item w3-button w3-padding">  Main Page</a>
      <a href="./banneredit" class="w3-bar-item w3-button w3-padding">  Banner Edit</a>
      <a href="./mainitems" class="w3-bar-item w3-button w3-padding">  MainItems Edit</a>
      <a href="./boardedit" class="w3-bar-item w3-button w3-padding w3-blue">  Board Edit</a>
      <a href="./products" class="w3-bar-item w3-button w3-padding">  Product Manage</a>
      <a href="./order" class="w3-bar-item w3-button w3-padding">  Order Manage</a>
      <a href="./usermanagement" class="w3-bar-item w3-button w3-padding">  User Accounts Manage</a>
      <a href="./adminmanagement" class="w3-bar-item w3-button w3-padding">  Administrator Manage</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Board</b></h5>
    <button class="w3-button w3-blue w3-hover-white btn_new">Add Board</button>
  </header>

  <div class="w3-container w3-margin-top w3-bottombar w3-topbar w3-border-black w3-padding-16">
    <div class="w3-third">
        <h5>Board List</h5>
        <div class="listContainer">
            <div id="simpleList" class="list-group">
                <div th:each="board : ${boardList}"
                     class="list-group-item"
                     th:attr="boardid=${board.id},
                  boardname=${board.name},
                  boardindex=${board.tbindex},
                  boardactive=${board.active == 1 ? 'y' : 'n'}"
                     th:text="${board.name}">
                </div>
            </div>
        </div>
    </div>
    <div class="w3-twothird w3-margin-top w3-margin-bottom">
        <input type="text" class="w3-input w3-margin-right w3-margin-left w3-left" style="width: 40%;" id="enterName" placeholder="Input Board Name" disabled/>
        <span><input class="w3-check" type="checkbox" checked="checked" id="activeboard" disabled></span>
        <span>Board Active(Show)</span>
    </div>
    <div class="w3-row w3-center">
        <form id="boardForm" method="post" action="/bgf1bm51yww/saveBoards" style="display: none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <textarea id="jsonData" name="jsonData"></textarea>
        </form>

        <button id="btn_delete" class="w3-button w3-red" disabled>Delete</button>
        <button id="btn_save" class="w3-button w3-green">Save</button>
    </div>
  </div>
  <!-- End page content -->
</div>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

function preview(input, id) {
    if(input.files && input.files[0]){
        var fr = new FileReader();
        fr.onload = function(e){
            $(id).attr("src", e.target.result);
        }
        fr.readAsDefaultDataURL(input.files[0]);
    }
}
let selectedItem = null;

$(document).ready(function() {
    Sortable.create(simpleList, {ghostClass: 'is-dragged',
        dragClass: 'drag-preview',
        animation: 400,
        scroll: true,
        forceFallback: true,
        scrollSensitivity: 50,
        scrollSpeed: 20,
    });

    $(document).on('click', '.btn_new', function() {
        /*$('#simpleList').append('<div class="list-group-item">New Board</div>').sortable({
            connectWith: "#simpleList"
        });*/
        //boardid = # 이라면 새로 등록, 값이 있으면 기존 값에 갱신
        $("#simpleList").append('<div class="list-group-item" boardid="#" boardname="New Board" boardindex="" boardactive="y">New Board</div>');
    });

    $(document).on('click', '.list-group-item', function(event) {
        $('#enterName').prop('disabled', false);
        $('#activeboard').prop('disabled', false);
        $('#btn_delete').prop('disabled', false);

        $('.list-group-item').removeClass('boarditemfocus');
        $(this).addClass('boarditemfocus');

        selectedItem = $(this);
        const currentName = selectedItem.attr('boardname');
        $('#enterName').val(currentName);
        // 현재 선택된 아이템의 boardactive 상태에 따라 체크박스도 맞춰줌
        const isActive = selectedItem.attr('boardactive') === 'y';
        $('#activeboard').prop('checked', isActive);
    });

    $('#enterName').on('input', function () {
        if (selectedItem) {
            const newName = $(this).val();
            selectedItem.attr('boardname', newName);
            selectedItem.text(newName); // 화면 표시 텍스트도 변경
        }
    });

    $('#enterName').on('blur', function () {
        const value = $(this).val().trim();
        if (!value && selectedItem) {
            const defaultName = 'Enter Board Name';
            selectedItem.attr('boardname', defaultName);
            selectedItem.text(defaultName);
            $(this).val(defaultName);
        }
    });

    $('#activeboard').on('change', function () {
        if (selectedItem) {
            const isChecked = $(this).is(':checked');
            selectedItem.attr('boardactive', isChecked ? 'y' : 'n');
        }
    });

    $(document).on('click', '#btn_delete', function () {
        if (selectedItem.length === 0) {
            alert('Please select item.');
            return;
        }

        if (confirm('Do you want to delete the selected category? If you delete it, all products in the category will be removed. If you do not want to remove the items, please move the items in the bulletin board you want to delete to another bulletin board in advance.')) {
            selectedItem.remove();
            $('#enterName').val('');
            $('#activeboard').prop('checked', false);
        }
    });

    $('#btn_save').on('click', function () {
        const listItems = document.querySelectorAll('#simpleList .list-group-item');

        // listItems의 길이가 0일 경우 (없는 경우)
        if (listItems.length === 0) {
            alert('There are no boards. Please create one.');
        } else {
            const result = [];

            $('#simpleList .list-group-item').each(function(index) {
                $(this).attr('boardindex', index);
            });

            $('#simpleList .list-group-item').each(function () {
                const item = $(this);
                result.push({
                    boardid: item.attr('boardid'),
                    boardname: item.attr('boardname'),
                    boardindex: item.attr('boardindex'),
                    boardactive: item.attr('boardactive')
                });
            });

            $("#jsonData").val(JSON.stringify(result));
            //form 전송
            $("#boardForm").submit();
        }
    });
});
</script>

</body>
</html>
