<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>message</title>
    <link rel="icon" href="../images/adminfavicon.ico">
</head>
<body>
<script th:inline="javascript">
    let message = [[${message}]];
    let link = [[${link}]];
    let close = [[${close}]];
    alert(message);

    if(link === null || link === "" || link === undefined) {
        // 뒤로 가기 강제 실행
        history.back();

        // "앞으로 가기" 차단
        window.onpopstate = function(event) {
            history.back();
        };
    }
    else {
        if(link === "main") {
            window.location.href = window.location.origin + '/bgf1bm51yww/';
        }
        else {
            window.location.href = window.location.origin + '/bgf1bm51yww/' + link;
            // "앞으로 가기" 차단
            window.onpopstate = function (event) {
                history.back();
            };
        }
    }

    if(close === "true") {
        window.close();
    }
</script>
</body>
</html>