<!DOCTYPE html>
<html>
<head>
<title>Product List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="icon" href="../images/adminfavicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css" integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.thumb_img {
  width: 100%;
  height: 150px;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

.linkbtn {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.linkbtn {background-color: #008CBA;}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.product_link {
  text-decoration: none;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><a href="./logout" style="text-decoration: none;">Logout</a></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Management System</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="./" class="w3-bar-item w3-button w3-padding">  Main Page</a>
    <a href="./banneredit" class="w3-bar-item w3-button w3-padding">  Banner Edit</a>
    <a href="./mainitems" class="w3-bar-item w3-button w3-padding">  MainItems Edit</a>
    <a href="./boardedit" class="w3-bar-item w3-button w3-padding">  Board Edit</a>
    <a href="./products" class="w3-bar-item w3-button w3-padding w3-blue">  Product Manage</a>
    <a href="./order" class="w3-bar-item w3-button w3-padding">  Order Manage</a>
    <a href="./usermanagement" class="w3-bar-item w3-button w3-padding">  User Accounts Manage</a>
    <a href="./adminmanagement" class="w3-bar-item w3-button w3-padding">  Administrator Manage</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Product List</b></h5>
  </header>

  <div class="w3-container">
    <div class="w3-display-container w3-container">
      <div class="w3-row">
        <div class="w3-col l9" th:if="${#strings.isEmpty(search)}">
          <a href="../bgf1bm51yww/product/form" target="_blank" class="linkbtn">Add New Item</a>
        </div>
        <div class="w3-col l9" th:if="${not #strings.isEmpty(search)}">
          <h2 th:text="|${count} result for '${search}'|">16 result for 'Search'</h2>
        </div>
        <div class="w3-col l3">
          <select class="w3-select w3-border-0 w3-margin-bottom" name="option" id="sortSelect">
            <option value="" disabled selected>Sorting Items</option>
            <option value="new" th:selected="${sort == 'new'}">New</option>
            <option value="old" th:selected="${sort == 'old'}">Old</option>
            <option value="phigh" th:selected="${sort == 'phigh'}">High Price</option>
            <option value="plow" th:selected="${sort == 'plow'}">Low Price</option>
          </select>
        </div>
      </div>
    </div>

      <div class="w3-card-2 w3-padding-large w3-margin-bottom">
        <div class="w3-container w3-margin-top">
          <div class="w3-row w3-margin-bottom"
               th:each="i : ${#numbers.sequence(0, products.size() - 1, 4)}">

            <div class="w3-col m3 w3-container"
                 th:each="j : ${#numbers.sequence(i, i + 3)}"
                 th:if="${j < products.size()}">

              <div class="w3-card-4">
                <div class="w3-container">
                  <div class="w3-row">
                    <div class="w3-half w3-container">
                      <img th:src="@{'/upload/thumb/' + ${products[j].image}}" alt="Product Image" class="thumb_img">
                    </div>
                    <div class="w3-half w3-container">
                      <h4><a class="product_link" target="_blank" th:text="${products[j].name}" th:href="@{'../../view?id=' + ${products[j].no}}">Product Name</a></h4>
                      <h5 th:text="'No: ' + ${products[j].no}">No: 123</h5>
                      <h6 th:text="${#temporals.format(products[j].regdate, 'yyyy-MM-dd')}"></h6>

                      <b th:if="${products[j].soldout}">Out of Stock</b>

                      <b th:if="${!products[j].soldout and products[j].sale and products[j].endsaledate != null and products[j].endsaledate > T(java.time.LocalDateTime).now()}" class="w3-text-red">
                        <del th:text="${('đ ' + #numbers.formatDecimal(products[j].price, 1, 3, 'POINT'))}"></del>
                        ➜ <span th:text="${('đ ' + #numbers.formatDecimal(products[j].saleprice, 1, 3, 'POINT'))}"></span>
                      </b>

                      <b th:if="${!products[j].soldout and (!products[j].sale or products[j].endsaledate == null or products[j].endsaledate <= T(java.time.LocalDateTime).now())}"
                         th:text="${('đ ' + #numbers.formatDecimal(products[j].price, 1, 3, 'POINT'))}"></b>
                      </p>
                    </div>
                  </div>
                  <div class="w3-row w3-center w3-margin-top">
                    <button class="w3-button w3-green" th:onclick="'window.open(\'/bgf1bm51yww/product/form?id=' + ${products[j].no} + '\')'">Edit</button>
                    <button class="w3-button w3-red"
                            th:onclick="|if(confirm('Are you sure you want to remove this product?')) { window.location.href='/bgf1bm51yww/product/deleteitem?id=${products[j].no}'; }|">
                      Delete
                    </button>


                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    <div class="w3-row w3-padding-small w3-margin-top">
      <form method="get" action="/bgf1bm51yww/products" class="w3-border-0">
        <div class="w3-row">
          <div class="w3-col l1 m1 s1">&nbsp;</div>
          <div class="w3-col l2 m3 s3 w3-center">
            <select class="w3-select w3-border-0" name="type">
              <option value="name" th:selected="${type == null or type == 'name'}">Search Information</option>
              <option value="code" th:selected="${type == 'code'}">Search Item Code</option>
            </select>
          </div>
          <div class="w3-col l8 m7 s7 w3-center">
            <div class="w3-row">
              <div class="w3-col l11 m11 s10">
                <input type="search" class="w3-input w3-white" name="search" placeholder="Search..." th:value="${search}">
              </div>
              <div class="w3-col l1 m1 s2">
                <button type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="w3-col l1 m1 s1">&nbsp;</div>
    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-small w3-margin-bottom" th:if="${not noResult}">
      <div class="w3-bar">
        <!-- 맨 처음 페이지 (<<) -->
        <th:block th:if="${userPage == 1}">
          <span class="w3-bar-item w3-button w3-disabled">&laquo;</span>
        </th:block>
        <th:block th:unless="${userPage == 1}">
          <a th:href="@{'/bgf1bm51yww/products'(category=${category}, search=${search}, page=1)}" class="w3-bar-item w3-button">&laquo;</a>
        </th:block>

        <!-- 이전 블록으로 가기 (<) -->
        <th:block th:if="${blockStart == 1}">
          <span class="w3-bar-item w3-button w3-disabled">&lt;</span>
        </th:block>
        <th:block th:unless="${blockStart == 1}">
          <a th:href="@{'/bgf1bm51yww/products'(category=${category}, search=${search}, page=${prevBlockPage})}" class="w3-bar-item w3-button">&lt;</a>
        </th:block>

        <!-- 페이지 번호 출력 -->
        <a th:each="i : ${#numbers.sequence(blockStart, blockEnd)}"
           th:href="@{'/bgf1bm51yww/products'(category=${category}, search=${search}, page=${i})}"
           th:text="${i}"
           class="w3-bar-item w3-button"
           th:classappend="${i == userPage} ? 'w3-black' : ''"></a>

        <!-- 다음 블록으로 가기 (>) -->
        <th:block th:if="${blockEnd >= page.totalPages}">
          <span class="w3-bar-item w3-button w3-disabled">&gt;</span>
        </th:block>
        <th:block th:unless="${blockEnd >= page.totalPages}">
          <a th:href="@{'/bgf1bm51yww/products'(category=${category}, search=${search}, page=${nextBlockPage})}" class="w3-bar-item w3-button">&gt;</a>
        </th:block>

        <!-- 맨 마지막 페이지 (>>) -->
        <th:block th:if="${userPage == page.totalPages}">
          <span class="w3-bar-item w3-button w3-disabled">&raquo;</span>
        </th:block>
        <th:block th:unless="${userPage == page.totalPages}">
          <a th:href="@{'/bgf1bm51yww/products'(category=${category}, search=${search}, page=${page.totalPages})}" class="w3-bar-item w3-button">&raquo;</a>
        </th:block>

      </div>
    </div>

    </div>
  </div>
  <!-- End page content -->

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

document.getElementById('sortSelect').addEventListener('change', function () {
  const selectedSort = this.value;
  const url = new URL(window.location.href);
  url.searchParams.set('sort', selectedSort);
  url.searchParams.set('page', 1); // 정렬시 첫 페이지로 초기화
  window.location.href = url.toString();
});
</script>

</body>
</html>
