<!DOCTYPE html>
<html>
<head>
<title>User Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css" integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.textarea {
  word-break: break-all;
}
.note-editor .note-frame .note-editing-area .note-editable {
    color: #000000 !important;
}
.note-editable > p {
    color: #000000 !important;
    text-align: left;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Management System</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Main Page</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Product Board</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Product Manage</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Add Product</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue">  User Accounts Manage</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Add Administrator</a>
    <a href="#" class="w3-bar-item w3-button w3-padding">  Administrator Manage</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> User List</b></h5>
  </header>

  <div class="w3-container">
      <div class="w3-card-2 w3-padding-large w3-margin-bottom">
        <form method="get" action="/admin/usermanagement" class="w3-border-0 w3-padding">
          <div class="w3-row">
            <div class="w3-col l2">
              <select class="w3-select" name="type">
                <option value="email" th:selected="${type == 'email'}">이메일</option>
                <option value="firstname" th:selected="${type == 'firstname'}">이름</option>
                <option value="lastname" th:selected="${type == 'lastname'}">성</option>
              </select>
            </div>
            <div class="w3-col l7">
              <input type="text" name="search" class="w3-input" placeholder="검색어 입력" th:value="${search}">
            </div>
            <div class="w3-col l2">
              <select class="w3-select" name="sort">
                <option value="new" th:selected="${sort == 'new'}">최신순</option>
                <option value="old" th:selected="${sort == 'old'}">오래된순</option>
              </select>
            </div>
            <div class="w3-col l1">
              <button class="w3-button w3-black" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="w3-card-2 w3-padding-large w3-margin-bottom">
        <!-- userList는 List<SiteUser> -->
        <div class="w3-row-padding">
          <div th:each="user, iterStat : ${users}">
            <!-- 새 row 시작 (0, 3, 6, ...) -->
            <div th:if="${iterStat.index % 3 == 0}" class="w3-row w3-margin-bottom"></div>

            <div class="w3-third w3-container">
              <div class="w3-card-4">
                <div class="w3-container w3-padding">
                  <h3 class="textarea" th:text="${user.email}">Email</h3>
                  <h5 th:text="'ID: ' + ${user.id}">ID</h5>
                  <p class="textarea" th:text="${user.firstname + ' ' + user.lastname}">Name</p>
                  <p class="textarea" th:text="'signup: ' + ${#temporals.format(user.regdate, 'yyyy-MM-dd hh:mm:ss')}">가입일</p>
                  <div class="w3-center w3-margin-top">
                    <a th:href="@{'/admin/usermanagement/edit/' + ${user.id}}" class="w3-button w3-green w3-margin-right">Edit</a>
                    <a th:href="@{'/admin/usermanagement/delete/' + ${user.id}}" class="w3-button w3-red"
                       onclick="return confirm('정말 삭제하시겠습니까?');">Delete</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- row 종료 후 자동 줄바꿈을 위해 빈칸 -->
            <div th:if="${iterStat.index % 3 == 2}" class="w3-row w3-margin-bottom"></div>
          </div>
        </div>


      </div>

    <div class="w3-center w3-padding-small w3-margin-bottom" th:if="${not noResult}">
      <div class="w3-bar">
        <th:block th:if="${userPage == 1}">
          <span class="w3-bar-item w3-button w3-disabled">&laquo;</span>
        </th:block>
        <th:block th:unless="${userPage == 1}">
          <a th:href="@{'/admin/usermanagement'(type=${type}, search=${search}, sort=${sort}, page=1)}" class="w3-bar-item w3-button">&laquo;</a>
        </th:block>

        <th:block th:if="${blockStart == 1}">
          <span class="w3-bar-item w3-button w3-disabled">&lt;</span>
        </th:block>
        <th:block th:unless="${blockStart == 1}">
          <a th:href="@{'/admin/usermanagement'(type=${type}, search=${search}, sort=${sort}, page=${prevBlockPage})}" class="w3-bar-item w3-button">&lt;</a>
        </th:block>

        <a th:each="i : ${#numbers.sequence(blockStart, blockEnd)}"
           th:href="@{'/admin/usermanagement'(type=${type}, search=${search}, sort=${sort}, page=${i})}"
           th:text="${i}"
           class="w3-bar-item w3-button"
           th:classappend="${i == userPage} ? 'w3-black' : ''"></a>

        <th:block th:if="${blockEnd >= page.totalPages}">
          <span class="w3-bar-item w3-button w3-disabled">&gt;</span>
        </th:block>
        <th:block th:unless="${blockEnd >= page.totalPages}">
          <a th:href="@{'/admin/usermanagement'(type=${type}, search=${search}, sort=${sort}, page=${nextBlockPage})}" class="w3-bar-item w3-button">&gt;</a>
        </th:block>

        <th:block th:if="${userPage == page.totalPages}">
          <span class="w3-bar-item w3-button w3-disabled">&raquo;</span>
        </th:block>
        <th:block th:unless="${userPage == page.totalPages}">
          <a th:href="@{'/admin/usermanagement'(type=${type}, search=${search}, sort=${sort}, page=${page.totalPages})}" class="w3-bar-item w3-button">&raquo;</a>
        </th:block>
      </div>
    </div>


  </div>
  </div>
  <!-- End page content -->

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

$("#file").on('change',function(){
  var fileName = $("#file").val();
  $(".upload-name").val(fileName);
  var file = event.target.files[0];
  var reader = new FileReader(); 
    reader.onload = function(e) {

        $("#preview_img").attr("src", e.target.result);
    }
    reader.readAsDataURL(file);
});
</script>

</body>
</html>
