<!DOCTYPE html>
<html>
<head>
<title>Account Member | Luna</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="./images/favicon.ico">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.product-image-container {
    width: 100%;
    height: 250px; /* 원하는 높이로 조정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 꽉 채움 (중앙 잘림 가능) */
  }

.footerlink {
  text-decoration: none;
}

</style>
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="./" style="text-decoration: none;"><h3 class="w3-wide"><b>Luna</b></h3>
    <h4 style="margin-top: -20px;">Hair Shop</h4></a>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="./account" class="w3-bar-item w3-button">Modify Profile</a>
    <a href="./memberchangepw" class="w3-bar-item w3-button">Change Password</a>
    <a href="./withdrawal" class="w3-bar-item w3-button">Withdrawal Account</a>
  </div>
  <a href="./wishlist"  class="w3-bar-item w3-button w3-padding">Wishlist</a>
  <a href="./cart"  class="w3-bar-item w3-button w3-padding">Cart</a>
  <a href="./signup" class="w3-bar-item w3-button w3-padding">Sign up</a>
  <a href="./signin" class="w3-bar-item w3-button w3-padding">Sign in</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge" style="z-index: 999;">
  <div class="w3-bar-item w3-padding-24 w3-wide">Luna Hair Shop</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Account</p>
  </header>

<div class="w3-container">
  <div class="w3-card-2 w3-padding-large w3-margin-bottom">
    <h2 class="w3-center">Modify Profile</h2>
  
    <form class="w3-container" th:action="@{/account}" th:object="${user}" method="post">
      <label class="w3-text-grey">Email</label>
      <input class="w3-input w3-border w3-margin-bottom" type="email" th:field="*{email}" maxlength="100" disabled>

      <label class="w3-text-grey">First Name</label>
      <input class="w3-input w3-border w3-margin-bottom" type="text" th:field="*{firstname}" maxlength="100">
  
      <label class="w3-text-grey">Last Name</label>
      <input class="w3-input w3-border w3-margin-bottom" type="text" th:field="*{lastname}" maxlength="100">
  
      <label class="w3-text-grey">Phone Number</label>
      <input class="w3-input w3-border w3-margin-bottom" type="tel" th:field="*{phone}" placeholder="+84-000-0000-0000" maxlength="100">

      <label class="w3-text-grey">Country</label>
      <input class="w3-input w3-border w3-margin-bottom" type="text" th:field="*{address1}" placeholder="HN Hanoi, Vietnam" maxlength="120">
  
      <label class="w3-text-grey">Address</label>
      <input class="w3-input w3-border w3-margin-bottom" type="text" th:field="*{address2}" placeholder="433 Ngô Gia Tự, Long Biên" maxlength="120">
      
      <button class="w3-button w3-black w3-round-large w3-block" type="submit">Submit</button>
    </form>
  </div>

</div>


  <!-- Footer -->
  <footer class="w3-padding-32 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4 w3-justify">
        <h4>Sitemap</h4>
        <p><a href="#">About us</a></p>
        <p><a href="./signup">Sign Up</a></p>
        <p><a href="./signin">Sign In</a></p>
        <p><a href="./wishlist">WishList</a></p>
        <p><a href="./cart">Cart</a></p>
      </div>
      <div class="w3-col s3 w3-justify">
        <h4>&nbsp;</h4>
        <p><a href="./account">My Account</a></p>
        <p><a href="./memberchangepw">Change Password</a></p>
        <p><a href="./findmypassword">Find Password</a></p>
        <p><a href="./order/list">Order List</a></p>
        <p><a href="./howtouse">How To Use</a></p>
      </div>
      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i><a class="footerlink" target="_blank" href="https://www.google.co.kr/maps/@21.0714009,105.9038319,3a,63.6y,323.68h,83.71t/data=!3m8!1e1!3m6!1sCIHM0ogKEICAgICO9bmdUQ!2e10!3e11!6shttps:%2F%2Flh3.googleusercontent.com%2Fgpms-cs-s%2FAB8u6HY8m-TRW-C6ltZhKWwmClVo4Bs-ELyzoWpxwc6_yJAktj4R7GxZf_-d3SCcoxVtpOAukI0Q1UTptDRQFUeZJ8cuDb-7kQB3bMzdLTT62Fgt0AXUUlAltLWbipWAkbtaDdX14pYv%3Dw900-h600-k-no-pi6.290000000000006-ya84.44094055175782-ro0-fo100!7i5760!8i2880?hl=ko&entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoASAFQAw%3D%3D">433 Ngô Gia Tự, Long Biên, HN Hanoi, Vietnam 10000</a></p>
        <p><i class="fa fa-fw fa-phone"></i><a class="footerlink" href="tel:+84-98-369-93-00">+84 98 369 93 00</a></p>
        <p style="word-break: break-all;"><i class="fa fa-fw fa-envelope"></i><a class="footerlink" href="mailto:lunahairstyle.vn@gmail.com">lunahairstyle.vn@gmail.com</a></p>
        <br>
        <a href="https://www.facebook.com/lunaa.hair" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity w3-large"></i></a>
        <a href="https://www.instagram.com/lunahairstyle.vn" target="_blank"><i class="fa fa-instagram w3-hover-opacity w3-large"></i></a>
      </div>
    </div>
  </footer>
  <div class="w3-black w3-center w3-padding-24">© 2025. LUNA HAIR STYLE Co. all rights reserved.</div>

  <!-- End page content -->
</div>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}


</script>

</body>
</html>
