<!DOCTYPE html>
<html>
<head>
<title>Order List</title>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link rel="icon" href="../images/favicon.ico">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.product-image-container {
    width: 100%;
    height: 250px; /* 원하는 높이로 조정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 꽉 채움 (중앙 잘림 가능) */
  }

.orderlist-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}
.orderlist-item img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-right: 24px;
}
.orderlist-details {
  flex-grow: 1;
}
.orderlist-price {
  font-weight: bold;
  margin-top: 8px;
}
.description {
  word-break: break-all;
}

.item_title {
  text-decoration: none;
}

.item_title:hover {
  cursor: pointer;
}

/* The overlay effect with black background */
#openSearch {
  border: none;
  background: transparent;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

.footerlink {
  text-decoration: none;
}

  @media all and (min-width:768px) and (max-width:1023px) { 
    .side-banner {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .side-banner {
      display: none;
    }
  }

</style>
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="../" style="text-decoration: none;"><h3 class="w3-wide"><b>Luna</b></h3>
      <h4 style="margin-top: -20px;">Hair Shop</h4></a>
  </div>

  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="../search?category=all" class="w3-bar-item w3-button">All Items</a>
    <a href="#" class="w3-bar-item w3-button" th:each="board : ${boardList}" th:text="${board.name}" th:href="@{/search(category=${board.id})}">Full Wigs</a>
  </div>
  <a href="../wishlist"  class="w3-bar-item w3-button w3-padding">Wishlist</a>
  <a href="../cart"  class="w3-bar-item w3-button w3-padding">Cart</a>
  <a href="../signup" class="w3-bar-item w3-button w3-padding">Sign up</a>
  <a href="../signin" class="w3-bar-item w3-button w3-padding">Sign in</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-xlarge">
  <p class="w3-left">Welcome</p>
  <p class="w3-right" th:if="${session.user != null}">
    Welcome, <span th:text="${session.user.firstname}"></span>
    <a class="w3-margin-left" href="/logout"><i class="fa fa-sign-out w3-margin-right"></i></a>
    <a href="../cart"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
    <button id="openSearch" onclick="openSearch()"><i class="fa fa-search"></i></button>
  </p>
  <p class="w3-right" th:if="${session.user == null}">
    <a href="/signin"><i class="fa fa-sign-in w3-margin-right"></i></a>
    <a href="../cart"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
    <button id="openSearch" onclick="openSearch()"><i class="fa fa-search"></i></button>
  </p>
</header>

<div id="myOverlaySearch" class="overlay">
  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
  <div class="overlay-content">
    <form action="../search">
      <select class="w3-select w3-border-0" name="category">
        <option value="all">All Items</option>
        <option th:each="board : ${boardList}" th:value="${board.id}" th:text="${board.name}"></option>
      </select>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Your Orders</p>
  </header>

 <!-- 리스트 영역 -->
<div class="w3-container">

  <div class="w3-row w3-padding-small w3-margin-top">

    <form id="searchForm" method="get" action="./list" class="w3-container w3-padding">
      <div class="w3-row">
        <div class="w3-col l4">
          <input type="text" name="search" th:value="${search}" placeholder="Search Item Name..." class="w3-input" />
        </div>
        <div class="w3-col l3">
          <input type="text" name="startDate" id="startDate" th:value="${startDate}" placeholder="Start Date" class="w3-input" readonly/>
        </div>
        <div class="w3-col l3">
          <input type="text" name="endDate" id="endDate" th:value="${endDate}" placeholder="End Date" class="w3-input" readonly/>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="w3-col l2">
          <button class="w3-button w3-black w3-block" type="button" id="resetDateBtn">날짜 초기화</button>
        </div>
      </div>
        <button class="w3-button w3-black w3-block" type="submit">Search</button>

    </form>

    <div th:each="orderView : ${orderViews}" class="w3-panel w3-card-4">
      <div th:if="${orderView.order.returnitem == 1} and ${orderView.order.returncomplete == 0}"><h3><span style="color:red;">[Return Requested]</span></h3><p style="word-break: break-all;" th:text="'Reason For Return : ' + ${orderView.order.returnmsg}"></p></div>
      <h3 th:if="${orderView.order.returnitem == 1} and ${orderView.order.returncomplete == 1}"><span style="color:deepskyblue;">[Return Complete]</span></h3>
      <h3 th:if="${orderView.order.cancel == 0}" th:text="${#temporals.format(orderView.order.created, 'yyyy.MM.dd')}"></h3>
      <h3 th:if="${orderView.order.cancel == 1}">
        <span th:text="${#temporals.format(orderView.order.created, 'yyyy.MM.dd')}"></span>
        <span style="color:red;">[Order Canceled!]</span>
      </h3>
      <!-- 주문 아이템 반복 -->
      <div th:each="itemView : ${orderView.items}" class="orderlist-item w3-row w3-display-container">
        <img class="w3-col l2 m2 s5"
             th:src="@{'/upload/thumb/' + ${itemView.product.image}}" alt="상품 이미지" />
        <div class="orderlist-details w3-col l7 m7 s7">
          <div>
            <h4><a class="item_title" th:text="${itemView.product.name}" th:href="@{'../view?id=' + ${itemView.product.no}}" target="_blank">상품명</a></h4>
            <h6 class="description" th:text="${itemView.product.description}">설명</h6>
            <h5 class="qty" th:text="'Quantity : ' + ${itemView.orderItem.quantity}">수량</h5>
            <h5 th:text="'Each Price : đ ' + ${itemView.orderItem.price}">개별 가격</h5>
            <h5 class="orderlist-price" th:text="'Total : đ ' + ${itemView.orderItem.price * itemView.orderItem.quantity}">합산 가격</h5>
          </div>
        </div>
      </div>

      <!-- 주문 정보 -->
      <div class="w3-display-container">
        <div class="w3-left">
          <div class="w3-row">
            Total Price : <span><b th:text="${orderView.order.total}">0</b></span>원
          </div>
          <div class="w3-row">
            status : <span th:switch="${orderView.order.status}">
                <span th:case="0">Waiting for Payment</span>
                <span th:case="1">Complete Payment</span>
                <span th:case="2">Process</span>
                <span th:case="3">Shipped</span>
                <span th:case="4">Arrived</span>
                <span th:case="*">Unknown</span>
        </span>
          </div>
          <div class="w3-row">
            Shipping Code : <span th:text="${orderView.order.id}">-</span>
          </div>
          <div class="w3-row">
            Shipping Requests : <span th:text="${orderView.order.requests}">-</span>
          </div>
          <div class="w3-row">
            Delivery address : <span th:text="${orderView.order.address1} + ' / ' + ${orderView.order.address2}"></span>
          </div>
          <div class="w3-row">
            <a th:href="@{'/order/complete'(orderid=${orderView.order.id})}" target="_blank">Order Details</a>
          </div>
        </div>
        <div class="w3-right">

          <button th:if="${orderView.order.cancel == 0 and orderView.order.status == 3} and ${orderView.order.returncomplete == 0}"
                  th:attr="orderid=${orderView.order.id}"
                  class="w3-button w3-blue w3-margin-right"
                  onclick="const code = this.getAttribute('orderid'); if(confirm('Have you received your item?')) {location.href = '/order/received?ordercode=' + encodeURIComponent(code);}">
            Item Received
          </button><br/>
          <button th:if="${orderView.order.cancel == 0 and (orderView.order.status == 0 or orderView.order.status == 1 or orderView.order.status == 2)}"
                  th:attr="orderid=${orderView.order.id}"
                  class="w3-button w3-red w3-margin-right"
                  onclick="const code2 = this.getAttribute('orderid'); if(confirm('Would you like to cancel your order?')) {location.href = '/order/cancel?ordercode=' + encodeURIComponent(code2);}">
            Order Cancel
          </button><br/>
          <button th:if="${orderView.order.cancel == 0 and (orderView.order.status == 3 or orderView.order.status == 4) and orderView.order.returnitem == 0}"
                  th:attr="orderid=${orderView.order.id}"
                  class="w3-button w3-deep-orange"
                  onclick="const code3 = this.getAttribute('orderid'); location.href = '/order/returnpage?ordercode=' + encodeURIComponent(code3);">
            Return Item
          </button>

          <div th:if="${orderView.order.returnitem == 1} and ${orderView.order.returncomplete == 0}" class="shipping-code-wrapper" style="position: relative; display: inline-block;">

            <button
                    th:attr="orderid=${orderView.order.id}"
                    class="w3-button w3-deep-orange"
                    onclick="const code4 = this.getAttribute('orderid'); if(confirm('Are you sure you want to cancel your return?')) { location.href = '/order/return-cancel?ordercode=' + encodeURIComponent(code4);}">
              Return Cancel
            </button>

            <!-- 버튼 -->
            <button class="w3-button w3-green" onclick="toggleTrackingInput(this)">
              Enter Shipping Code
            </button>

            <div class="shipping-input-box w3-margin-bottom" style="display: none; margin-top: 8px;">
              <input type="text" class="w3-input w3-border" placeholder="Enter Shipping code" style="width: 200px; display: inline-block;" th:value="${orderView.order.returntrackingnum}"/>
              <button class="w3-button w3-blue" th:attr="orderid=${orderView.order.id}" onclick="const code5 = this.getAttribute('orderid'); submitTrackingCode(this, encodeURIComponent(code5))">입력</button>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-small w3-margin-bottom" th:if="${not noResult}">
      <div class="w3-bar">
        <!-- 맨 처음 페이지 (<<) -->
        <th:block th:if="${userPage == 1}">
          <span class="w3-bar-item w3-button w3-disabled">&laquo;</span>
        </th:block>
        <th:block th:unless="${userPage == 1}">
          <a th:href="@{'/order/list'(page=1, search=${search}, startDate=${startDate}, endDate=${endDate})}"
             class="w3-bar-item w3-button">&laquo;</a>
        </th:block>

        <!-- 이전 블록 (<) -->
        <th:block th:if="${blockStart == 1}">
          <span class="w3-bar-item w3-button w3-disabled">&lt;</span>
        </th:block>
        <th:block th:unless="${blockStart == 1}">
          <a th:href="@{'/order/list'(page=${prevBlockPage}, search=${search}, startDate=${startDate}, endDate=${endDate})}"
             class="w3-bar-item w3-button">&lt;</a>
        </th:block>

        <!-- 페이지 번호 출력 -->
        <a th:each="i : ${#numbers.sequence(blockStart, blockEnd)}"
           th:href="@{'/order/list'(page=${i}, search=${search}, startDate=${startDate}, endDate=${endDate})}"
           th:text="${i}"
           class="w3-bar-item w3-button"
           th:classappend="${i == userPage} ? 'w3-black' : ''"></a>

        <!-- 다음 블록 (>) -->
        <th:block th:if="${blockEnd >= page.totalPages}">
          <span class="w3-bar-item w3-button w3-disabled">&gt;</span>
        </th:block>
        <th:block th:unless="${blockEnd >= page.totalPages}">
          <a th:href="@{'/order/list'(page=${nextBlockPage}, search=${search}, startDate=${startDate}, endDate=${endDate})}"
             class="w3-bar-item w3-button">&gt;</a>
        </th:block>

        <!-- 마지막 페이지 (>>) -->
        <th:block th:if="${userPage == page.totalPages}">
          <span class="w3-bar-item w3-button w3-disabled">&raquo;</span>
        </th:block>
        <th:block th:unless="${userPage == page.totalPages}">
          <a th:href="@{'/order/list'(page=${page.totalPages}, search=${search}, startDate=${startDate}, endDate=${endDate})}"
             class="w3-bar-item w3-button">&raquo;</a>
        </th:block>
      </div>
    </div>



  </div>


  <!-- Footer -->
  <footer class="w3-padding-32 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4 w3-justify">
        <h4>Sitemap</h4>
        <p><a href="#">About us</a></p>
        <p><a href="../signup">Sign Up</a></p>
        <p><a href="../signin">Sign In</a></p>
        <p><a href="../wishlist">WishList</a></p>
        <p><a href="../cart">Cart</a></p>
      </div>
      <div class="w3-col s3 w3-justify">
        <h4>&nbsp;</h4>
        <p><a href="../account">My Account</a></p>
        <p><a href="../memberchangepw">Change Password</a></p>
        <p><a href="../findmypassword">Find Password</a></p>
        <p><a href="../order/list">Order List</a></p>
        <p><a href="../howtouse">How To Use</a></p>
      </div>
      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i><a class="footerlink" target="_blank" href="https://www.google.co.kr/maps/@21.0714009,105.9038319,3a,63.6y,323.68h,83.71t/data=!3m8!1e1!3m6!1sCIHM0ogKEICAgICO9bmdUQ!2e10!3e11!6shttps:%2F%2Flh3.googleusercontent.com%2Fgpms-cs-s%2FAB8u6HY8m-TRW-C6ltZhKWwmClVo4Bs-ELyzoWpxwc6_yJAktj4R7GxZf_-d3SCcoxVtpOAukI0Q1UTptDRQFUeZJ8cuDb-7kQB3bMzdLTT62Fgt0AXUUlAltLWbipWAkbtaDdX14pYv%3Dw900-h600-k-no-pi6.290000000000006-ya84.44094055175782-ro0-fo100!7i5760!8i2880?hl=ko&entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoASAFQAw%3D%3D">433 Ngô Gia Tự, Long Biên, HN Hanoi, Vietnam 10000</a></p>
        <p><i class="fa fa-fw fa-phone"></i><a class="footerlink" href="tel:+84-98-369-93-00">+84 98 369 93 00</a></p>
        <p style="word-break: break-all;"><i class="fa fa-fw fa-envelope"></i><a class="footerlink" href="mailto:lunahairstyle.vn@gmail.com">lunahairstyle.vn@gmail.com</a></p>
        <br>
        <a href="https://www.facebook.com/lunaa.hair" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity w3-large"></i></a>
        <a href="https://www.instagram.com/lunahairstyle.vn" target="_blank"><i class="fa fa-instagram w3-hover-opacity w3-large"></i></a>
      </div>
    </div>
  </footer>
  <div class="w3-black w3-center w3-padding-24">© 2025. LUNA HAIR STYLE Co. all rights reserved.</div>

  <!-- End page content -->
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

const token = document.querySelector('meta[name="_csrf"]').content;
const header = document.querySelector('meta[name="_csrf_header"]').content;

function toggleTrackingInput(button) {
  // 닫기 전에 기존 열려있는 입력창 닫기
  document.querySelectorAll('.tracking-input-area').forEach(area => area.style.display = 'none');

  const inputArea = button.nextElementSibling;
  inputArea.style.display = 'block';

  // 바깥 클릭 시 입력창 닫기
  document.addEventListener('click', function outsideClick(event) {
    if (!inputArea.contains(event.target) && event.target !== button) {
      inputArea.style.display = 'none';
      document.removeEventListener('click', outsideClick);
    }
  });
}

function submitTrackingCode(btn, orderId) {
  const trackingInput = btn.previousElementSibling;
  const trackingNum = trackingInput.value.trim();
  if (!trackingNum) {
    alert("Please enter the Tracking number.");
    return;
  }

  fetch('/order/return-tracking', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-Requested-With': 'XMLHttpRequest',
        [header]: token
      },
      body: new URLSearchParams({
        ordercode: orderId,
        trackingnum: trackingNum
      })
    })
    .then(res => res.text())
    .then(msg => {
      console.log("orderId:", orderId);
      console.log("trackingNum:", trackingNum);
      alert(msg);
    })
    .catch(err => {
      console.error(err);
      alert("An error occurred.");
    });
  }

document.addEventListener('DOMContentLoaded', function () {
  const form = document.getElementById('searchForm');
  const resetBtn = document.getElementById('resetDateBtn');
  const startDateInput = document.getElementById('startDate');
  const endDateInput = document.getElementById('endDate');

  form.addEventListener('submit', function(event) {
    const startDate = startDateInput.value;
    const endDate = endDateInput.value;

    if ((startDate && !endDate) || (!startDate && endDate)) {
      alert('Please select both a start date and an end date.');
      event.preventDefault();
    }
  });

  resetBtn.addEventListener('click', function () {
    startDateInput.value = '';
    endDateInput.value = '';
  });
});

$(function() {
  $("#startDate").datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true,
    yearRange:'1900:' + new Date().getFullYear(),
    autoSize: true                            
  });

  $("#endDate").datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true,
    yearRange:'1900:' + new Date().getFullYear(),
    autoSize: true                            
  });
});

// Open the full screen search box
function openSearch() {
  document.getElementById("myOverlaySearch").style.display = "block";
}

// Close the full screen search box
function closeSearch() {
  document.getElementById("myOverlaySearch").style.display = "none";
}
</script>

</body>
</html>
