<!DOCTYPE html>
<html>
<head>
<title>Withdrawal Complete | Luna Hair Shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="#" style="text-decoration: none;"><h3 class="w3-wide"><b>Luna</b></h3>
    <h4 style="margin-top: -20px;">Hair Shop</h4></a>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="#" class="w3-bar-item w3-button">Full Wigs</a>
    <a href="#" class="w3-bar-item w3-button">Partial Wig</a>
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      Color Wigs <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Red</a>
      <a href="#" class="w3-bar-item w3-button">Green</a>
      <a href="#" class="w3-bar-item w3-button">Blue</a>
      <a href="#" class="w3-bar-item w3-button">Yellow</a>
    </div>
    <a href="#" class="w3-bar-item w3-button">Bang Wigs</a>
    <a href="#" class="w3-bar-item w3-button">Extensions</a>
    <a href="#" class="w3-bar-item w3-button">Hair Streak</a>
    <a href="#" class="w3-bar-item w3-button">Others</a>
  </div>
  <a href="#footer" class="w3-bar-item w3-button w3-padding">Sign up</a> 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Sign in</a> 
  <a href="#footer"  class="w3-bar-item w3-button w3-padding">orderlist</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge" style="z-index: 999;">
  <div class="w3-bar-item w3-padding-24 w3-wide">Luna Hair Shop</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Withdrawal Complete</p>
  </header>

<div class="w3-container">
  <div class="w3-panel w3-card-4">
    <div class="row w3-padding-32">
      <p>Thank you for joining us with Luna Hair Shop. Hope to see you again someday. 😢</p>
    </div>
  </div>
</div>

  <!-- Footer -->
  <footer class="w3-padding-32 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4 w3-justify">
        <h4>Sitemap</h4>
        <p><a href="#">About us</a></p>
        <p><a href="#">Login</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Full Wigs</a></p>
        <p><a href="#">Partial Wigs</a></p>
      </div>
      <div class="w3-col s3 w3-justify">
        <h4>&nbsp;</h4>
        <p><a href="#">Color Wigs</a></p>
        <p><a href="#">Bang Wigs</a></p>
        <p><a href="#">Extentions</a></p>
        <p><a href="#">Hair Streak</a></p>
        <p><a href="#">Others</a></p>
      </div>
      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i> 433 Ngô Gia Tự, Long Biên, HN Hanoi, Vietnam 10000</p>
        <p><i class="fa fa-fw fa-phone"></i> +84 98 369 93 00</p>
        <p><i class="fa fa-fw fa-envelope"></i> lunahairstyle.vn@gmail.com</p>
        <br>
        <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
        <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
      </div>
    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">© 2025. LUNA HAIR STYPE Co. all rights reserved.</div>

  <!-- End page content -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

let oldVal = $('#requests').val();
    $("#requests").on("propertychange change keyup paste input", function () {
        let currentVal = $(this).val();
        if (currentVal === oldVal)
            return;

        oldVal = currentVal;
        onch_Byte();
    });

    function onch_Byte() {
        let str = $("#requests").val();

        if (str.length > 200) {
            str = str.substring(0, 200); // 100자까지 자르기
            $("#requests").val(str);     // 잘린 값 반영
        }

        $('#chk_byte').text(str.length); // 현재 글자수 표시

        if (str.length > 190) {
            $('#chk_byte').css("color", "#ff0000");
            $("#requests").focus();
        } else {
            $('#chk_byte').css("color", "#A7A7A7");
        }
    }
</script>

</body>
</html>
